name: 01-CICD-Dotnet-App
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Check for vulnerable packages
        run: |
          dotnet list package --vulnerable --include-transitive | tee vuln.txt
          if grep -q "Severity" vuln.txt; then
            echo "Vulnerabilities detected"
            exit 1
          fi

      - name: Build Project
        run: dotnet build
      - name: Publish
        run: dotnet publish -c Release -o ./publish
      - name: Create ZIP package
        run: |
          cd publish
          zip -r ../dotnet-app.zip .
      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: dotnet-app-build
          path: dotnet-app.zip

  codeql-analysis:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: csharp
          queries: security-and-quality

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  codeql-gate:
    needs: codeql-analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: read
    steps:
      - name: Check CodeQL alerts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          alerts=$(gh api \
            repos/${{ github.repository }}/code-scanning/alerts \
            --jq '.[] | select(.state=="open")')

          if [ -n "$alerts" ]; then
            echo "CodeQL issues found. Blocking deployment."
            exit 1
          else
            echo "No CodeQL issues found."
          fi

  deploy:
    needs: build
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Download ZIP artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: dotnet-app-build
          path: ./artifact

      - name: Deploy to Server
        uses: azure/webapps-deploy@v3
        with:
          app-name: "esi-webapp"
          package: "./artifact/dotnet-app.zip"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
